/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-background-image: url("../images/cover-image-dark.png");
  --page-background-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --title-decor-color: #000028;
  --title-color: #DB00FF;
}