
:root.theme-light {
  --page-background-color: #FFF1F7;
  --page-background-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --text-color: #000000;
  --title-decor-color: #000000;
  --title-color: #FFC2E6;
  --button-hover-border-color: #32312D66;
  --decorated-zone-color: #000000;
  --section-title-color: #000000;
  --footer-title-shadow-color: #FF8DCB;
  --button-text-color: #353430;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-background-color: #FFF1F7;
    --page-background-image: url("../images/cover-image-light.png");
    --accent-color: #FF8DCB;
    --text-color: #000000;
    --title-decor-color: #000000;
    --title-color: #FFC2E6;
    --button-hover-border-color: #32312D66;
    --decorated-zone-color: #000000;
    --section-title-color: #000000;
    --footer-title-shadow-color: #FF8DCB;
    --button-text-color: #353430;
  }

  .header__rec {
    display: none;
  }
}

.theme-light .header__theme-menu-button {
  color: var(--button-text-color, #353430);
  border: 1px solid transparent;
}

.theme-light .header__theme-menu-button:hover {
  border-color: var(--button-hover-border-color, #32312D66);
}

.theme-light .header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end-color: var(--button-text-color, #353430);
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--button-text-color, #353430);
}

@media (prefers-color-scheme: light) {
  .header__theme-menu-button {
    color: var(--button-text-color, #353430);
    border: 1px solid transparent;
  }

  .header__theme-menu-button:hover {
    border-color: var(--button-hover-border-color, #32312D66);
  }

  .header__theme-menu-button:focus-visible {
    outline: none;
    border-block-end-color: var(--button-text-color, #353430);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--button-text-color, #353430);
  }
}