.page {
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 77px 1fr auto;
  padding: 10px;
  margin-block-end: 40px;
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 1;
  justify-self: end;
  align-self: start;
  margin-block-start: 67px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--accent-color, #FF0070);
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  padding: 0 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-border-color, #FF0070);
}

.theme-light .header__theme-menu-button:hover {
  border-color: var(--button-hover-border-color, #000000);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end-color: var(--accent-color, #FF0070);
}

.header__theme-menu-button_active {
  border-color: var(--accent-color, #FF0070);
  pointer-events: none;
}

.header__rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: calc(10px + 25px);
  color: var(--accent-color, #FF0070);
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
}

.header__rec::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #FF0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
  inset-inline-start: calc(100% + 8px);
  inset-block-start: 8px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--decorated-zone-color, #FF0070);
  border-block-start: 1px solid var(--decorated-zone-color, #FF0070);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decorated-zone-color, #FF0070);
  border-block-end: 1px solid var(--decorated-zone-color, #FF0070);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.title {
  grid-row: 2;
  grid-column: 1;
  justify-self: start;
  align-self: start;
  margin-block-start: 151px;
  margin-inline-start: 0;
  font-family: 'IBM Plex mono', monospace;
  font-weight: 700;
  font-size: var(--logo-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: 83%;
  color: var(--title-color, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.footer {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.footer__title {
  font-family: 'IBM Plex mono', monospace;
  font-weight: 700;
  font-size: var(--logo-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: 83%;
  color: var(--title-color, #DB00FF);
  text-shadow: 2px 2px 0 var(--footer-title-shadow-color, #FF0070);
}

.title-decor {
  font-family: 'IBM Plex mono', monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color, #FF0070);
  color: var(--title-decor-color, #000028);
  padding-inline-end: 20px;
}

.header .title-decor {
  grid-row: 2;
  grid-column: 1;
  justify-self: start;
  align-self: start;
  margin-block-start: 398px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.title-decor p {
  margin: 0;
}

.section {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block: 0;
  margin-block-end: 50px;
}

.section:last-child {
  margin-block-end: 40px;
}

.section__title {
  font-family: 'IBM Plex mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--section-title-color, #FF0070);
  margin-block-end: 20px;
}

.card {
  margin-block-start: 20px;
}

.card:first-child {
  margin-block-start: 0;
}

.card__title {
  position: static;
  font-family: 'IBM Plex mono', monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color, #FF0070);
  color: var(--title-decor-color, #000028);
}

.card__text {
  font-family: 'IBM Plex mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color, #F1B2CE);
  margin-block-start: 10px;
}

.card__text + .card__text {
  margin-block-start: 10px;
}

.card__text span {
  font-family: 'IBM Plex mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--accent-color, #FF0070);
}

.card__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-start: 20px;
}

.card__list-item {
  margin-block-start: 20px;
}

.card__list-item:first-child {
  margin-block-start: 0;
}

.card__subtitle {
  position: static;
  font-family: 'IBM Plex mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color, #FF0070);
  color: var(--title-decor-color, #000028);
  margin-block-end: 0;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

.card__link:hover {
  border-block-end: 1px solid currentColor;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.gallery {
  display: grid;
  gap: 5px;
  margin-block-start: 10px;
  list-style: none;
  margin-inline: 0;
  padding: 0;
}

.gallery__image {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width >= 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    margin-block-end: 60px;
    grid-template-rows: 192px 1fr auto;
  }

  .title {
    margin-block-start: 256px;
  }

  .header .title-decor {
    margin-block-start: 517px;
    margin-inline-start: 364px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: calc(20px + 25px);
  }

  .header__theme-menu {
    margin-block-start: 192px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .section {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    align-items: start;
    margin-block-end: 80px;
  }

  .section:last-child {
    margin-block-end: 70px;
  }

  .section__title {
    margin-block-end: 0;
  }

  .card__title.title-decor {
    padding-inline-end: 0;
  }

  .section_articles .card,
  .section_cards .card {
    grid-column: 2;
  }

  .section_cards .section__title {
    grid-column: 1;
  }

  .section_cards .card {
    grid-column: 1 / -1;
  }

  .card {
    margin-block-start: 0;
  }

  .section_gallery {
    grid-template-columns: 1fr;
  }

  .section_gallery .card__title,
  .section_gallery .section__title {
    grid-column: 1;
  }

  .section_gallery .gallery {
    grid-column: 1;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 0;
  }

  .gallery__image {
    block-size: 100%;
    min-block-size: 192px;
  }

  .gallery li:first-of-type {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery li:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery li:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery li:nth-of-type(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery li:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-rows: 22px 1fr auto;
  }

  .title {
    font-size: var(--logo-size);
    margin-block-start: 282px;
  }

  .header .title-decor {
    margin-block-start: 526px;
    margin-inline-start: 493px;
    margin-inline-end: 0;
    padding-inline-end: 0;
  }

  .header__theme-menu {
    justify-self: start;
    margin-block-start: 22px;
    margin-inline-start: 397px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 8px;
  }

  .section_articles {
    grid-template-columns: 1fr 2fr;
  }

  .section_articles:first-child {
    gap: 20px 5px;
  }

  .section_articles .section__title {
    grid-column: 1;
  }

  .section_articles .card {
    grid-column: 2;
  }

  .section_cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .section_cards .section__title {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  .section_cards .card {
    grid-row: 2;
    grid-column: auto;
  }

  .footer__title {
    color: var(--title-color, #DB00FF);
  }

  .gallery {
    gap: 20px;
  }
}
